<div class="cartBox">
  <form [formGroup]="form" ]>
        <div class="row">
                <div class="col-md-3">
                      <label for= "">start Date</label>
                      <input type="date" class="form-control">
                </div>
                <div class="col-md-3">
                      <label for="">End Date</label>
                      <input type="date" class="form-control" >
                </div>
                <div class="col-md-2 d-flex align-items-end">
                        <button class="btn btn-success" >Apply</button>
                </div>
        </div>
  </form>
  <table class="table table-striped">
    <thead>
          <tr>
              <th></th>
              <th>Date</th>
              <th >quantity</th>
              <th></th>
          </tr>
    </thead>
    <tbody >
          <tr *ngFor="let item of carts; let index=index">
            <td>{{item.date | date:"shortDate"}}</td>
            <td></td>
            <td>
              {{item.products.length}}
            </td>
            <td>
              <button class="btn btn-danger" >Delete</button>
              <button class="btn btn-outline-primary m-3" >View</button>
            </td>
          </tr>
    </tbody>
  </table>
</div>
